<!-- your html code here -->
<div>
    <div>
    <h2>Porfolio</h2>
    </div>
    <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates ratione, beatae commodi expedita cum itaque labore. Quisquam autem repellat, maxime eaque laborum, enim quis, molestiae quae dicta neque ipsum? Quasi?</p>
    </div>    
        <div class="d-flex justify-content-center">
    <div class="px-3" style="width: 18rem;">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="px-3" style="width: 18rem;">
    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="px-3" style="width: 18rem;">
    <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
</div>